.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: all 0.3s ease;
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        position: fixed;
        top: 78px;
        right: 0;
        width: 100%;
        height: 100vh;
        min-height: 100%;
        background-color: rgba(22, 14, 30, 0.797);
        display: flex;
        flex-direction: column;
        justify-content: right;
        padding-top: 70px;
        gap: 50px;
        font-size: 1.2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
        text-shadow: 0 0 10px var(--text-color);
    }

    .nav-links.nav-active {
        transform: translateX(0);
    }

    .burger-menu {
        margin-left: 20px;
        display: block;
        cursor: pointer;
    }

    .burger-menu.active div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu.active div:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #home .parallax-content {
        margin-inline: 6px;
    }

    #home h1 {
        font-size: 2rem;
    }

    .parallax-content {
        padding: 0;
        margin-inline: 0;
    }

    .demo-video {
        margin-inline: 0;
        padding-right: 20px;
    }

    .gradient-btn svg {
        width: 30px;
        height: 30px;
    }

    .gradient-btn {
        font-size: 0.9rem;
        padding: 8px;
    }

    .feature-grid {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #stats {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #features h2,
    #stats h2,
    #faq h2,
    .download h1,
    #contact h2 {
        font-size: 1.8rem;
        margin-inline: 0px;
        padding-inline: 0;
    }

    .stat {
        margin-bottom: 1rem;
    }

    .faq-item {
        padding: 1rem;
    }

    .faq-question {
        font-size: 1rem;
        font-weight: bold;
    }

    .download h2 {
        font-size: 1.2rem;
        margin-inline: 0px;
        padding-inline: 0px;
    }

    .cta-button {
        padding: 0.6rem 1.2rem;
        font-size: 1.2rem;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .parallax-content,
    .feature-item {
        padding: 1rem;
    }

    .cta-button {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
    }

    footer ul {
        flex-direction: column;
        gap: 5px;
    }

    footer a {
        font-size: 0.9rem;
    }
}