/* For screens smaller than 768px */
@media (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        position: fixed;
        top: 78px;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--glass-bg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        gap: 20px;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.nav-active {
        transform: translateX(0);
    }

    .burger-menu {
        margin-left: 20px;
        display: block;
        cursor: pointer;
    }

    #home {
        margin-inline: 0;
        padding-inline: 0;
    }

    .parallax-content {
        padding: 0;
        margin-inline: 0;
    }

    .demo-video {
        margin-inline: 0;
        padding-right: 20px;
    }

    .gradient-btn svg {
        width: 30px;
        height: 30px;
    }

    .gradient-btn {
        font-size: 0.9rem;
        padding: 8px;
    }

    .feature-grid {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #stats {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #features h2,
    #stats h2,
    #faq h2,
    .download h1 {
        font-size: 1.8rem;
        margin-inline: 0px;
        padding-inline: 0;
    }

    .stat {
        margin-bottom: 1rem;
    }

    .faq-item {
        padding: 1rem;
    }

    .faq-question {
        font-size: 1rem;
        font-weight: bold;
    }

    .download h2 {
        font-size: 1.2rem;
        margin-inline: 0px;
        padding-inline: 0px;
    }

    .cta-button {
        padding: 0.6rem 1.2rem;
        font-size: 1.2rem;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .parallax-content,
    .feature-item {
        padding: 1rem;
    }

    .faq-item {
        margin-inline: 0;
    }

    .cta-button {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
    }

    footer ul {
        flex-direction: column;
        gap: 5px;
    }

    footer a {
        font-size: 0.9rem;
    }
}